.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  img{
    width: auto;
    height: 50px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.row.m0 {
  margin: 0px;
}

body {
  line-height: 26px;
  font-size: 16px;
  font-family: $urbanist;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $hee;
  font-weight: bold;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.pad_top {
  padding-top: 120px;
}

.pad_btm {
  padding-bottom: 120px;
}

.mt-25 {
  margin-top: 25px;
}

.p0 {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  @media(min-width:1200px) {
    max-width: 1170px;
  }
}

@media(min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto;
  }
}


.white_bg {
  background: #fff !important;
}

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 75px;

  h2 {
    font-family: $hee;
    font-size: 36px;
    color: $white;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    font-family: $hee;
    line-height: 26px;
    color: $white;
    margin-bottom: 0px;
    max-width: 570px;
    margin: auto;
  }

  &.white {
    h2 {
      color: #fff;
    }

    p {
      color: #fff;
      opacity: .6;
    }
  }
}

/* End Main Title Area css
============================================================================================ */

/*custom homepage css
============================================================================================ */


/* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #f4f4f4;
  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */

}

.panel > div {
  text-align: center; /* Center text and SVG content inside the inner div */
}

dotlottie-player {
  margin: 0 auto; /* Center the Lottie animation */
}
/* colours */
.color-violet {
  background-color: #9461d6;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #3b6fbc;
}
.color-green {
  background-color: #0ACF83;
}
.color-yellow {
  background-color: #F3C623;
}
.color-orange {
  background-color: #EB8317;
}
.color-red {
  background-color: #cc584b;
}
