// html, body {
//   height: 300%; /* To ensure enough space for scrolling */
//   margin: 0;
//   overflow-x: hidden;
// }
// .sticky-button {
//   position: fixed;
//   /* Sticks the button in a fixed position on the screen */
//   bottom: 20px;
//   /* Distance from the bottom of the screen */
//   right: 20px;
//   /* Distance from the right side of the screen */
//   padding: 10px 20px;
//   /* Padding inside the button */
//   border: none;
//   /* Removes border */
//   border-radius: 5px;
//   /* Rounded corners */
//   cursor: pointer;
//   /* Changes cursor to pointer on hover */
//   z-index: 1000;

//   p {
//     font-size: 12px;
//     color: $shita;
//   }

//   /* Ensures the button is above other content */
// }

.intro-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-in-out, visibility 0s 3s;
  z-index: 1;
  /* Ensure it is above other content */
}

.intro-image img {
  max-width: 100%;
  height: auto;
}

/* Fade-in and fade-out animation */
.intro-image.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-in-out, visibility 0s 0s;
}

/* Fade out and hide */
.intro-image.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-in-out, visibility 0s 3s;
}

.fade-section {
  position: relative;
  height: 100vh;
  /* Full screen height */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s 1s;
}

.fade-section.in-view {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 0s 0s;
}

.fade-section {
  position: relative;
  height: 100vh;
  /* Full screen height */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s 1s;

  &.in-view {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out, visibility 0s 0s;
  }
}

.content {
  position: absolute;  /* Or relative, depending on your layout */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      align-items: flex-start;
    }
  }

  .column {
    flex: 1;
    height: 80vh;

    &.img-column {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.text-column {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;

      @media (max-width: 768px) {
        height: auto;
      }

      .scrollable-content {
        width: 100%;
        max-height: 80vh;
        overflow-y: scroll;
        padding: 10px;
        box-sizing: border-box;

        ::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;
        -ms-overflow-style: none;

        .scroll-paragraph {
          .img-group {
            display: flex;
            flex-direction: row;

            @media (max-width: 768px) {
              flex-direction: column;
              width: 100%;
            }
          }

          img {
            width: 100%;
          }

          h3 {
            width: 50vw;
            margin: auto;
            padding: 30px;

            @media (max-width: 768px) {
              width: 90vw;
            }
          }

          p, ul {
            width: 50vw;
            margin: auto;
            padding: 20px 30px 30px;

            @media (max-width: 768px) {
              width: 90vw;
            }
          }
        }
      }
    }
  }




  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $shita;

    &.shita-button {
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid $shita;
      color: $shita;
      font-size: 16px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $shita;
        color: #ffffff;
      }
    }
  }
  h3 {
    border-bottom: 2px solid $shita;
    /* Adjust thickness and color as needed */
    display: block;
    width: 100%;
    padding-bottom: 10px;

  }

  h4 {
    /* Optional: Adds space between the text and the border */
    padding-left: 20px;
    padding-right: 20px;
    text-wrap: wrap;
    width: auto;
    color: $shita;
  }

  p {
    text-align: left;
  }

  ul {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .column {
    width: 100vw;
    /* Make each column full width on smaller screens */
  }
}
